@import "/src/variables";

header {
    max-width: 1200px;
    margin: auto;

    .site-header-absolute {
      display: flex;
      margin-bottom: 8px;

      .site-branding {
        flex-grow: 8;

        img {
          max-width: 50%;
          height: auto;
        }
      }

      .main-navigation {
        display: flex;
        align-items: center;

        .menu-primary-menu-container {
          display: none;
        }

        button.burger-menu {
          background-color: transparent;
          border: 0;
          cursor: pointer;

          .dashicons {
            width: 28px;
            height: 28px;

            &:before {
              font-size: 28px;
            }
          }
        }
      }
    }

    .site-header-conditional {
      display: none;
      width: 100vw;
      margin-left: -8px;
      background-color: $primary_4;
      padding: 8px 0;

      .menu {
        list-style: none;

        .menu-item {
          padding: 8px 0;

          a {
            color: #ffffff;
            text-decoration: none;
            font-size: 16px;

            &:hover {
              color: $secondary_4;
            }

            &:active {
              color: $secondary_4;
            }
          }
        }
      }
    }
  }

  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    header {
      .site-header-absolute {
        .site-branding {
          img {
            max-width: 272px;
          }
        }
      }
    }
  }

  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {}

  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    header {
      .site-header-absolute {
        .main-navigation {
          .menu-primary-menu-container {
            display: block;

            .menu {
              list-style: none;

              .menu-item {
                display: inline-block;

                a {
                  padding: 8px 16px;
                  text-decoration: none;
                  font-weight: 600;
                  color: $primary_4;

                  &:hover {
                    color: $secondary_4;
                  }
                }
              }
            }
          }

          button.burger-menu {
            display: none;
          }
        }
      }
    }
  }

  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {}
