<header id="masthead" class="site-header">
    <div class="site-header-absolute">
        <div class="site-branding">
            <img ngSrc="../../../assets/images/logo_2.png" height="261" width="796"/>
        </div><!-- .site-branding -->

        <nav id="site-navigation" class="main-navigation">
            <div class="mobile-menu">
                <img class="burger-menu-icon" src="../../../assets/images/burger_menu_icon.png" />
            </div>
            <div class="menu-primary-menu-container">
                <ul class="menu">
                    <li class="menu-item"><a routerLink="/home">Home</a></li>
                    <li class="menu-item"><a routerLink="/product-list" routerLinkActive="active-link">Product</a></li>
                    <li class="menu-item"><a routerLink="/create-product" routerLinkActive="active-link">Create Product</a></li>
                    <li class="menu-item"><a routerLink="/login" routerLinkActive="active-link">Login</a></li>
                </ul>
            </div>
        </nav><!-- #site-navigation -->
    </div>

    <div class="site-header-conditional">
    </div>
</header>
