$primary_4: #1c314B;
$primary_3: #556578;
$primary_2: #8E98A5;
$primary_1: #C6CBD2;

$secondary_4: #FF8626;
$secondary_3: #FFAC67;
$secondary_2: #FFCFA8;
$secondary_1: #FFF3E9;

$tertiary_4: #4B1C49;
$tertiary_3: #6E376B;
$tertiary_2: #A58EA4;
$tertiary_1: #D2C6D2;
