<app-header></app-header>

<div class="page-body">
  <div class="form-container">
    <h3 class="form-header">Create Product</h3>
    <form class="raf-form" [formGroup]="formGroup" (ngSubmit)="createProductHandler()">
      <div class="field-container">
        <label for="title">Product name</label>
        <input class="form-field" formControlName="title" type="text">
        <p class="error-message" *ngIf="formGroup.get('title')?.hasError('emptyValidator') && (formGroup.get('title')?.touched || formSubmitted)">Name is required!</p>
      </div>
      <div class="field-container">
        <label for="description">Detail</label>
        <textarea class="form-field" formControlName="description"></textarea>
        <p class="error-message" *ngIf="formGroup.get('description')?.hasError('emptyValidator') && (formGroup.get('description')?.touched || formSubmitted)">Detial is required!</p>
      </div>
      <div class="field-container">
        <label for="price">Price</label>
        <input class="form-field" formControlName="price" type="number">
        <p class="error-message" *ngIf="formGroup.get('price')?.hasError('priceValidator') && (formGroup.get('price')?.touched || formSubmitted)">Price cannot be less than 0.00!</p> 
      </div>
      <div class="field-container">
        <label for="premiumService">Has it premium service?</label>
        <div class="radio-container">
          <input type="radio" formControlName="isPremium" value="YES"  id="is_premium_yes"/>
          <label class="radio-label" for="is_premium_yes">Yes</label>
        </div>
        <div class="radio-container">
          <input type="radio" formControlName="isPremium" value="NO" id="is_premium_no"/>
          <label class="radio-label" for="is_premium_no">No</label>
        </div>
      </div>
      <div class="field-container" *ngIf="showAdditionalPriceField">
        <label for="additionalCharge">Additional charge for premium service</label>
        <input class="form-field" type="number" formControlName="additionalCharge">
        <p class="error-message" *ngIf="formGroup.get('additionalCharge')?.hasError('additionalChargeValidator') && (formGroup.get('additionalCharge')?.touched || formSubmitted)">Additional charge cannot me less than 0!</p>
      </div>
      <div class="field-container">
        <button class="raf-button raf-button-secondary-solid" type="submit">Create Product</button>
      </div>
    </form>
  </div>
</div>
